@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: rgba(0, 0, 0, 0.99);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-contatos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border: 1px solid rgba(255, 255, 255, 0.418);
  width: 800px;
  height: 500px;
  border-radius: 5px;
  animation: borderAnimation 1.5s infinite linear;
}
#container-contatos ul{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 700px;
}
#container-contatos ul li{
  list-style-type: none;
  border: 1px solid rgba(255, 255, 255, 0.355);
  border-radius: 5px;
  margin-top: 20px;
  line-height: 50px;
  width: 600px;
  height: 50px;
}
#container-contatos ul li p{
  margin-top: -60px;
  margin-left: 50px;
}
#container-contatos ul li #email{
  margin-top: 7px;
  margin-left: 5px;
}
#container-contatos ul li #phoneWrite{
  margin-top: -68px;
}
h1{
  color: #fff; 
  letter-spacing: 1px;
  padding-top: 10px;
}

@keyframes borderAnimation {
  0%{
    border: 1px solid rgba(255, 255, 255, 0.622);
  }
  10%{
    border: 1px solid rgba(255, 255, 255, 0.72);
  }
  20%{
    border: 1px solid rgba(255, 255, 255, 0.72);
  }
  30%{
    border: 1px solid rgba(255, 255, 255, 0.8);
  }
  40%{
    border: 1px solid rgba(255, 255, 255, 0.857);
  }
  50%{
    border: 1px solid rgba(255, 255, 255, 0.92);
  }
  60%{
    border: 1px solid rgba(255, 255, 255, 0.967);
  }
  70%{
    border: 1px solid rgba(187, 187, 187, 0.967);
  }
  80%{
    border: 1px solid rgba(101, 101, 101, 0.967);
  }
  90%{
    border: 1px solid rgba(255, 255, 255, 0.967);
  }
  100%{
    border: 1px solid rgba(154, 154, 154, 0.967);
  }
}