@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: rgb(181, 235, 255);
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  width: 500px;
  height: 40px;
}
#square{
  width: 50px;
  margin-left: 250px;
  margin-top: -35px;
}


#main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 1%;
  width: 1000px;
  height: 650px;
}

/*Lista*/
#main-container ul {
  list-style-type: none;
  width: 980px;
  display: inline-flex;
  /*Alinhar conteudo interno da lista*/
  justify-content: center;
}
#main-container ul li {
  display: inline-flex;
  justify-content: center;
  width: 150px;
  height: 40px;
  line-height: 40px;
  margin-left: 80px;
  margin-right: 80px;
  animation: botoes infinite linear 1.1s;
}
#main-container ul li:hover{
  color: #fff;
  background-color: #000;
  cursor: pointer;
  width: 180px;
  height: 40px;
  line-height: 40px;
}

/*Estilização dos <lis> sobrepondo o link*/
.links{
  text-decoration: none;
  color: inherit;
}

/*Animações botões*/
@keyframes botoes {
  0%{
    padding-left: 2px;
    font-weight: 400;
  }
  20%{
    padding-left: 4px;
    font-weight: 500;
  }
  40%{
    padding-left: 6px;
    font-weight: 600;
  }
  60%{
    padding-right: 5px;
    font-weight: 700;
  }
  80%{
    padding-right: 4px;
    font-weight: 800;
  }
  100%{
    padding-left: 2px;
    font-weight: bold;
  }
}
/*Efeito no container*/
#main-container:hover #efeito{
  height: 20px;
  width: 100%;
  border-bottom-left-radius: 1%;
  border-bottom-right-radius: 1%;
  margin-top: 335px;
  background-color: #000;
}

#img-container{
  width: 200px;
  height: 180px;
  margin-top: 80px;
  margin-right: 680px;
}
#mypic{
  width: 200px;
  height: 180px;
  border: 2px solid rgb(35, 98, 132);
}

/*Nome paragrafo*/
#img-container #nome{
  width: 280px;
  font-size: 35px;
  margin-top: -190px;
  margin-left: 210px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
  color: rgb(26, 26, 26);
}
/*Cargo paragrafo*/
#img-container #cargo{
  width: 280px;
  font-size: 19px;
  margin-left: 210px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 22px;
  font-weight: 600;
  color: rgba(46, 46, 46, 0.755);
}
/*Resumo paragrafo*/
#resumo{
  width: 680px;
  margin-left: 215px;
  text-align: justify;
  margin-top: 40px;
  letter-spacing: 1.1px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif;
}
/*link da blue*/
#blue{
  text-decoration: none;
  color: rgb(88, 169, 255);
}
#blue:hover{
  color: rgb(7, 156, 255);

}

/*Icone github*/
#github{
  margin-left: 50px;
  margin-top: 120px;
}
#linkedin{
  margin-left: 410px;
  margin-top: -90px;
}
#discord{
  margin-top: -90px;
  margin-left: 760px;
}
#discord img{
  cursor: pointer;
}

#frase-discord{
  width: 250px;
  height: 80px;
  margin-top: -158px;
  margin-left: 670px;
  line-height: 80px;
  border: 1px solid #000;
  border-radius: 3%;
  font-size: 17px;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}


.hidden{
  display: none;
}